 .u-section-1 {
  background-image: url("images/Untitled-1copy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 697px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  align-self: center;
  margin: 30px auto 0;
  padding: 26px 108px 27px 106px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 416px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 43.51% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 35.67% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}